<div class="card flex justify-content-center">
<form [formGroup]="formGroup!">
    <p-dropdown
        formControlName="selectedSubject"
        [options]="subjects"
        optionLabel="name"
        placeholder="Seleciona una Asignatura"
        required
    />
    <p-dropdown
        formControlName="selectedEvaluation"
        [options]="evaluations"
        optionLabel="name"
        placeholder="Seleciona una Evaluación"
        required
    />
    <p-dropdown
        formControlName="selectedPercentageOfQuestions"
        [options]="percentagesOfQuestions"
        optionLabel="label"
        placeholder="Seleciona un Porcentaje"
        required
    />
</form>
</div>
<div>
<p-button
    label="Crear el test"
    [disabled]="formGroup?.invalid"
    (click)="createTheTest()"
/>
</div>
