<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <p-floatLabel class="p-float-label">
        <input type="text" id="student-name" pInputText formControlName="name"/>
        <label for="student-name">Name</label>
    </p-floatLabel>
    <p-floatLabel class="p-float-label">
        <input type="email" id="student-email" pInputText formControlName="email"/>
        <label for="student-email">Email</label>
    </p-floatLabel>
    <p-floatLabel class="p-float-label">
        <input type="password" id="student-password" pInputText formControlName="password">
        <label for="student-password">Password</label>
    </p-floatLabel>
    <p-button type="submit" [disabled]="!registerForm.valid">Submit</p-button>
</form>
